<a href="https://colab.research.google.com/github/wannabedain/diet_2021/blob/main/func.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 라이브러리 추가
import requests; from urllib.parse import urlparse
import pandas as pd
import geopandas

In [ ]:
# 카카오맵 주소 검색 API: https://developers.kakao.com/docs/restapi/local#주소-검색

'''def find_area(address): 
    list = []
    url = "https://dapi.kakao.com/v2/local/search/keyword.json?&query=" + address
    result = requests.get(urlparse(url).geturl(),headers={"Authorization":"KakaoAK 91dd91a9c6fb9c0c9f0a92b028bddaf2"})
    json_obj = result.json()
    #new_df = pd.DataFrame()
    new_data ={}
    for document in json_obj['documents']:
        new_data = {'장소명': document['place_name'],'위도': [document['y']], '경도' :[document['x']]}
       # new_df = pd.DataFrame(new_data)
        break;  
    return new_data

print(type(find_area('주안5동 16-162 밀알교회')))'''

<class 'dict'>

In [ ]:
def find_area(address): 
    list = []
    url = "https://dapi.kakao.com/v2/local/search/keyword.json?&query=" + address
    result = requests.get(urlparse(url).geturl(),headers={"Authorization":"KakaoAK 91dd91a9c6fb9c0c9f0a92b028bddaf2"})
    json_obj = result.json()
    #new_df = pd.DataFrame()
    #new_data ={}
    for document in json_obj['documents']:
        list = [document['place_name'], document['y'], document['x']]
       # new_df = pd.DataFrame(new_data)
        break;  
    return pd.Series(list) 

print(find_area('주안5동 16-162 밀알교회'))

0                 밀알교회
1    37.46999683149197
2    126.6808625097192
dtype: object

In [ ]:
#함수로 만드는 거 완성하기
#함수로 실행해서 CSV파일로 만들기

In [ ]:
csv_taxi = pd.read_csv('C:/myTransportation/01.Pred_Demand/0. 데이터/input/data20_2108_호출지목적지.csv', encoding = 'cp949')
new = csv_taxi.head(5)

new = new.astype({'호출지': 'str'})
new

,seq,차량번호,차량소속,콜접수 일자,콜접수 시간,장애유형,승차 일자,승차시간,승차X,승차Y,하차 일자,하차 시간,하차X,하차Y,운행거리,픽업거리,요금,호출지,목적지
0,NaN,30바9844(470호),임차택시,2021-08-03,3:30,신장,2021-08-03,6:28,NaN,NaN,2021-08-03,6:41,NaN,NaN,"4,852",NaN,"1,800",주안5동 16-162 밀알교회,주안3동 749-6 신덕빌라
1,NaN,30바2637(424호),임차택시,2021-08-03,5:04,신장,2021-08-03,5:22,NaN,NaN,2021-08-03,5:25,NaN,NaN,"1,274",NaN,"1,200",논현동 하나비젼교회,청학동 시대@ 106동
2,NaN,30바1879(396호),임차택시,2021-08-03,4:20,신장,2021-08-03,6:23,NaN,NaN,2021-08-03,6:47,NaN,NaN,"9,385",NaN,"2,800",심곡동 284-4,부평성모병원
3,NaN,30바9399(542호),임차택시,2021-08-03,4:20,지체,2021-08-03,6:36,NaN,NaN,2021-08-03,6:47,NaN,NaN,"7,890",NaN,"2,400",주안동 502-13,마전동 1024-18
4,NaN,30바5071(309호),임차택시,2021-08-03,4:30,신장,2021-08-03,6:30,NaN,NaN,2021-08-03,6:42,NaN,NaN,"7,677",NaN,"3,600",작전동 907-4,작전동 까치마을 태화@

In [ ]:
!pip install plotly

Requirement already satisfied: plotly in c:\users\user\anaconda3\envs\geo_env\lib\site-packages (5.3.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\user\anaconda3\envs\geo_env\lib\site-packages (from plotly) (8.0.1)
Requirement already satisfied: six in c:\users\user\anaconda3\envs\geo_env\lib\site-packages (from plotly) (1.16.0)

In [ ]:
import plotly.express as px

In [ ]:
def make_csv_승차():
    csv_taxi = pd.read_csv('C:/myTransportation/source/승차데이터_소현5000.csv', encoding = 'cp949')
    new = csv_taxi.astype({'호출지1': 'str'})
    is_cannot = new['주소구분'] == '판별불가'
    cannot = new[is_cannot]
    df = pd.DataFrame()
    df = cannot['호출지1'].apply(find_area)
    df = pd.concat([cannot, df], ignore_index = True, axis =1)
    df = df.drop(columns=[0,1], axis=1)
    df.to_csv('승차데이터_소현_100.csv', encoding = 'cp949')

In [ ]:
make_csv_승차()

C:\Users\user\AppData\Local\Temp/ipykernel_17856/2321214700.py:12: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  return pd.Series(list)

In [ ]:
#파일 경로 바꾸기
#저장 파일 이름 바꾸기
def make_csv_하차():
    csv_taxi = pd.read_csv('C:/myTransportation/source/하차데이터_소현5000.csv', encoding = 'cp949')
    new = csv_taxi.astype({'목적지1': 'str'})
    is_cannot = new['주소구분'] == '판별불가'
    cannot = new[is_cannot]
    df = pd.DataFrame()
    df = cannot['목적지1'].apply(find_area)
    df = pd.concat([cannot, df], ignore_index = True, axis =1)
    df = df.drop(columns=[0,1], axis=1)
    df.to_csv('하차데이터_소현_all.csv', encoding = 'cp949')

In [ ]:
make_csv_하차()

C:\Users\user\AppData\Local\Temp/ipykernel_17856/2321214700.py:12: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  return pd.Series(list)